# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# IGNORE EVERYTHING IN DATA
data/
aws/ 

# IGNORE ALL OUTPUTS
outputs/

# IGNORE ALL MODELS
*.pt
*.pth
*.ckpt

# IGNORE LOGS
*.log
wandb/

# IDE
.vscode/
.idea/
